n8n-workflow-files/configs/n8n-workflow-webhook.json
{
  "name": "AI-Driven Incident Detection with Slack Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Prometheus Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming Prometheus alert\nconst alerts = $input.item.json.alerts || [];\nconst alert = alerts[0] || {};\n\nreturn {\n  alertName: alert.labels?.alertname || 'Unknown',\n  instance: alert.labels?.instance || 'Unknown',\n  severity: alert.labels?.severity || 'warning',\n  type: alert.labels?.type || 'general',\n  summary: alert.annotations?.summary || 'No summary',\n  description: alert.annotations?.description || 'No description',\n  metricValue: alert.annotations?.metric_value || 'N/A',\n  status: alert.status || 'unknown',\n  startsAt: alert.startsAt || new Date().toISOString(),\n  generatorURL: alert.generatorURL || 'N/A'\n};"
      },
      "id": "parse-alert",
      "name": "Parse Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\": [{\"text\": `You are a DevOps AI analyzing server alerts.\n\nAlert Details:\n- Name: ${$json.alertName}\n- Instance: ${$json.instance}\n- Severity: ${$json.severity}\n- Type: ${$json.type}\n- Metric Value: ${$json.metricValue}\n- Description: ${$json.description}\n\nAnalyze this alert and provide:\n1. Is this spike temporary or consistent?\n2. Trend prediction (will it continue/worsen?)\n3. Recommended action (auto-scale, manual intervention, or no action)\n4. Confidence level (0-100%)\n5. Brief reasoning\n\nRespond in JSON format:\n{\n  \"spike_type\": \"temporary\" or \"consistent\",\n  \"trend\": \"description\",\n  \"recommendation\": \"auto-scale\", \"manual\", or \"no-action\",\n  \"confidence\": number,\n  \"reasoning\": \"explanation\"\n}`}]}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-analysis",
      "name": "AI Analysis (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract AI response\nconst response = $input.item.json;\nconst aiText = response.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n\n// Try to parse JSON from AI response\nlet analysis = {};\ntry {\n  // Extract JSON if wrapped in markdown code blocks\n  const jsonMatch = aiText.match(/```json\\s*([\\s\\S]*?)```/) || aiText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[1] || jsonMatch[0]);\n  } else {\n    analysis = JSON.parse(aiText);\n  }\n} catch (e) {\n  analysis = {\n    spike_type: 'unknown',\n    trend: 'Unable to parse',\n    recommendation: 'manual',\n    confidence: 50,\n    reasoning: aiText\n  };\n}\n\nreturn {\n  ...($node[\"Parse Alert\"].json),\n  ai_analysis: analysis\n};"
      },
      "id": "parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_TOKEN }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": `🚨 *${$json.alertName}* - ${$json.severity.toUpperCase()}`,\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": `🚨 ${$json.alertName} Alert`\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*Instance:*\\n${$json.instance}`\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*Severity:*\\n${$json.severity}`\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*Type:*\\n${$json.type}`\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `*Metric Value:*\\n${$json.metricValue}`\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": `*Description:*\\n${$json.description}`\n      }\n    },\n    {\n      \"type\": \"divider\"\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": `*🤖 AI Analysis*\\n*Spike Type:* ${$json.ai_analysis.spike_type}\\n*Trend:* ${$json.ai_analysis.trend}\\n*Recommendation:* ${$json.ai_analysis.recommendation}\\n*Confidence:* ${$json.ai_analysis.confidence}%\\n*Reasoning:* ${$json.ai_analysis.reasoning}`\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": `⏰ ${new Date($json.startsAt).toLocaleString()} | <${$json.generatorURL}|View in Prometheus>`\n        }\n      ]\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "slack-notification",
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ai_analysis.recommendation }}",
              "operation": "equals",
              "value2": "auto-scale"
            }
          ]
        }
      },
      "id": "check-scaling",
      "name": "Need Auto-Scaling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LAMBDA_API_GATEWAY_URL || 'http://localhost:3000/mock-scale' }}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.AWS_API_KEY || 'demo-key' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"alert_type\": $json.alertName,\n  \"action\": \"scale_up\",\n  \"instance\": $json.instance,\n  \"metric_value\": $json.metricValue\n} }}",
        "options": {}
      },
      "id": "trigger-scaling",
      "name": "Trigger AWS Scaling",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_TOKEN }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": `✅ Auto-scaling triggered for ${$json.alertName}`,\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": `✅ *Auto-Scaling Triggered*\\n\\nScaling action initiated for *${$json.instance}* due to *${$json.alertName}*.\\n\\n*Action:* Scale Up\\n*Confidence:* ${$json.ai_analysis.confidence}%`\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "slack-scaling-success",
      "name": "Notify Scaling Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_TOKEN }}",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"text\": `ℹ️ No action needed for ${$json.alertName}`,\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": `ℹ️ *No Auto-Scaling Needed*\\n\\nAI determined that *${$json.alertName}* on *${$json.instance}* does not require automatic scaling.\\n\\n*AI Recommendation:* ${$json.ai_analysis.recommendation}\\n*Reasoning:* ${$json.ai_analysis.reasoning}`\n      }\n    }\n  ]\n} }}",
        "options": {}
      },
      "id": "slack-no-action",
      "name": "Notify No Action Needed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 400]
    }
  ],
  "connections": {
    "Prometheus Alert Webhook": {
      "main": [
        [
          {
            "node": "Parse Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alert": {
      "main": [
        [
          {
            "node": "AI Analysis (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis (Gemini)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Slack": {
      "main": [
        [
          {
            "node": "Need Auto-Scaling?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Auto-Scaling?": {
      "main": [
        [
          {
            "node": "Trigger AWS Scaling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger AWS Scaling": {
      "main": [
        [
          {
            "node": "Notify Scaling Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-09T16:00:00.000Z",
  "versionId": "1"
}
