n8n-workflow-files/configs/n8n-workflow-complete.json
{
  "name": "AI-Driven Incident Detection with Slack Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Prometheus Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 400],
      "webhookId": "prometheus-alert"
    },
    {
      "parameters": {
        "functionCode": "// Parse incoming alert data\nconst alerts = $input.item.json.alerts || [];\nconst parsedAlerts = [];\n\nfor (const alert of alerts) {\n  if (alert.status === 'firing') {\n    const parsed = {\n      alertname: alert.labels.alertname,\n      instance: alert.labels.instance,\n      severity: alert.labels.severity,\n      type: alert.labels.type,\n      summary: alert.annotations.summary,\n      description: alert.annotations.description,\n      metric_value: alert.annotations.metric_value,\n      startsAt: alert.startsAt,\n      generatorURL: alert.generatorURL,\n      timestamp: new Date().toISOString()\n    };\n    parsedAlerts.push(parsed);\n  }\n}\n\nif (parsedAlerts.length === 0) {\n  return {\n    json: {\n      no_action: true,\n      message: \"All alerts resolved, no action needed\"\n    }\n  };\n}\n\nconst alert = parsedAlerts[0];\n\nreturn {\n  json: {\n    alert_data: alert,\n    ai_prompt: `You are a DevOps AI assistant analyzing infrastructure incidents.\n\nIncident Details:\n- Alert: ${alert.alertname}\n- Type: ${alert.type}\n- Instance: ${alert.instance}\n- Severity: ${alert.severity}\n- Current Value: ${alert.metric_value}\n- Description: ${alert.description}\n- Time: ${alert.timestamp}\n\nAnalyze this incident and respond ONLY with a JSON object (no markdown, no extra text):\n{\n  \"spike_type\": \"temporary\" or \"consistent\",\n  \"trend_prediction\": \"increasing\" or \"stable\" or \"decreasing\",\n  \"scaling_needed\": true or false,\n  \"confidence_level\": \"high\" or \"medium\" or \"low\",\n  \"recommended_action\": \"auto_scale\" or \"manual_review\" or \"no_action\",\n  \"reasoning\": \"Brief explanation\",\n  \"estimated_duration\": \"Duration or 'ongoing'\"\n}`\n  }\n};"
      },
      "id": "parse-node",
      "name": "Parse Alert Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [440, 400]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.no_action }}",
              "operation": "equals",
              "value2": "true"
            }
          ]
        }
      },
      "id": "check-action",
      "name": "Check If Action Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": {{ JSON.stringify($json.ai_prompt) }}\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.1,\n    \"maxOutputTokens\": 500\n  }\n}",
        "options": {}
      },
      "id": "ai-analysis",
      "name": "AI Analysis (Gemini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "functionCode": "// Parse Gemini response\nconst geminiResponse = $input.item.json;\nconst alertData = $('Parse Alert Data').item.json.alert_data;\n\nlet analysis;\ntry {\n  const responseText = geminiResponse.candidates[0].content.parts[0].text;\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    analysis = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in AI response');\n  }\n} catch (error) {\n  console.error('Failed to parse AI response:', error);\n  analysis = {\n    spike_type: 'unknown',\n    trend_prediction: 'unknown',\n    scaling_needed: true,\n    confidence_level: 'low',\n    recommended_action: 'manual_review',\n    reasoning: 'Failed to parse AI response, defaulting to manual review',\n    estimated_duration: 'unknown'\n  };\n}\n\nreturn {\n  json: {\n    ...alertData,\n    ai_analysis: analysis,\n    requires_scaling: analysis.recommended_action === 'auto_scale',\n    requires_manual_review: analysis.recommended_action === 'manual_review',\n    no_action_needed: analysis.recommended_action === 'no_action'\n  }\n};"
      },
      "id": "parse-ai",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.ai_analysis.recommended_action }}",
              "operation": "equals",
              "value2": "auto_scale"
            }
          ]
        }
      },
      "id": "decision-switch",
      "name": "Decision: Auto-Scale?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🚨 *CRITICAL ALERT: Auto-Scaling Triggered*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"🚨 CRITICAL ALERT: Auto-Scaling Triggered\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Alert:*\\n{{ $json.alertname }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Instance:*\\n{{ $json.instance }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Type:*\\n{{ $json.type }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Severity:*\\n{{ $json.severity }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Metric Value:*\\n{{ $json.metric_value }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🤖 AI Analysis*\\n• Spike Type: {{ $json.ai_analysis.spike_type }}\\n• Trend: {{ $json.ai_analysis.trend_prediction }}\\n• Scaling Needed: {{ $json.ai_analysis.scaling_needed }}\\n• Confidence: {{ $json.ai_analysis.confidence_level }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*💡 Reasoning:* {{ $json.ai_analysis.reasoning }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*⏱ Duration:* {{ $json.ai_analysis.estimated_duration }}\\n*🚀 Action:* Auto-scaling infrastructure now\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View in Prometheus\"\n          },\n          \"url\": \"{{ $json.generatorURL }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-critical",
      "name": "Slack: Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"ℹ️ Alert Notification\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"ℹ️ Alert Notification\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Alert:*\\n{{ $json.alertname }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Instance:*\\n{{ $json.instance }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Type:*\\n{{ $json.type }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Metric:*\\n{{ $json.metric_value }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🤖 AI Analysis*\\n• Spike Type: {{ $json.ai_analysis.spike_type }}\\n• Trend: {{ $json.ai_analysis.trend_prediction }}\\n• Action: {{ $json.ai_analysis.recommended_action }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*💡 Reasoning:* {{ $json.ai_analysis.reasoning }}\\n\\nℹ️ This appears to be a {{ $json.ai_analysis.spike_type }} spike. No scaling action needed at this time.\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View in Prometheus\"\n          },\n          \"url\": \"{{ $json.generatorURL }}\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-info",
      "name": "Slack: Info Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"⚠️ Manual Review Required\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"⚠️ Manual Review Required\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Alert:*\\n{{ $json.alertname }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Instance:*\\n{{ $json.instance }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Type:*\\n{{ $json.type }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Metric:*\\n{{ $json.metric_value }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*🤖 AI Analysis*\\n• Confidence: {{ $json.ai_analysis.confidence_level }}\\n• Recommendation: Manual review\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*💡 Reasoning:* {{ $json.ai_analysis.reasoning }}\\n\\n*👤 Action Required:* Please review this alert and determine if scaling is needed.\"\n      }\n    },\n    {\n      \"type\": \"actions\",\n      \"elements\": [\n        {\n          \"type\": \"button\",\n          \"text\": {\n            \"type\": \"plain_text\",\n            \"text\": \"View in Prometheus\"\n          },\n          \"url\": \"{{ $json.generatorURL }}\",\n          \"style\": \"danger\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-manual",
      "name": "Slack: Manual Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LAMBDA_API_GATEWAY_URL || 'http://localhost:3000/mock-scale' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.AWS_API_KEY || 'demo-key' }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alert_type\": \"{{ $json.type }}\",\n  \"instance\": \"{{ $json.instance }}\",\n  \"metric_value\": \"{{ $json.metric_value }}\",\n  \"ai_confidence\": \"{{ $json.ai_analysis.confidence_level }}\",\n  \"action\": \"scale_up\",\n  \"severity\": \"{{ $json.severity }}\",\n  \"alertname\": \"{{ $json.alertname }}\"\n}",
        "options": {
          "timeout": 30000,
          "allowUnauthorizedCerts": true
        }
      },
      "id": "trigger-scale",
      "name": "Trigger Scaling (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1640, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"✅ Auto-Scaling Completed\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"✅ Auto-Scaling Completed\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Alert:*\\n{{ $json.alertname }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Instance:*\\n{{ $json.instance }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*📊 Scaling Result:*\\n```{{ JSON.stringify($('Trigger Scaling (Optional)').item.json, null, 2) }}```\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Next Steps:*\\n• Monitor new instances coming online\\n• Verify system stability\\n• Check if additional scaling needed\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "slack-success",
      "name": "Slack: Scaling Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1840, 200]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 500]
    }
  ],
  "connections": {
    "Prometheus Alert Webhook": {
      "main": [
        [
          {
            "node": "Parse Alert Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alert Data": {
      "main": [
        [
          {
            "node": "Check If Action Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Action Needed": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Analysis (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis (Gemini)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Decision: Auto-Scale?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision: Auto-Scale?": {
      "main": [
        [
          {
            "node": "Slack: Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Info Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack: Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack: Critical Alert": {
      "main": [
        [
          {
            "node": "Trigger Scaling (Optional)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Scaling (Optional)": {
      "main": [
        [
          {
            "node": "Slack: Scaling Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-12-09T16:00:00.000Z",
  "versionId": "1"
}